<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styleContact.css" />
    <title>Ouest-Algerien</title>
  </head>
  <body>
    <div class="contact-us">
      <nav>
        <a class="logo" href="#">LOGO</a>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/About" id="liste">about us</a></li>
          <li class="home-list"><a href="/Contact" id="liste">contact us</a></li>
        </ul>
      </nav>
      <div class="contact-us-conrtainer">
        <div class="contact-us-title">
          <h2>24Hrs on deck <br />customer support</h2>
          <span>We are at your call. We serve you always.</span>
        </div>
        <div class="formulaire-container">
          <form action="">
            <h2>let's talk!</h2>
            <span
              >We do noramlly get back within 48hrs. Please <br />leave a
              message.</span
            >
            <div class="form-input">
              <input type="text" placeholder="Full Name" />
              <input type="text" placeholder="Country / Region" />
              <input type="text" placeholder="Street Address" />
              <input type="text" placeholder="City" />
              <textarea name="" id="" placeholder="Your Message"></textarea>
            </div>
            <div class="send-message-class">
              <input id="send-message" type="submit" value="Send Message" />
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </body>
</html>
