<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <title>Ouest-Algerien</title>
    <link rel="stylesheet" href="/styleGalerie.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <header>
        <main class="navba">
            <div class="backBTN">
                <a href="javascript:history.back();">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <div class="navbar-title">
                <h3>Galerie</h3>
            </div>
        </main>
    </header>
    <div class="container">
        <div class="gallery">
            <div class="gallery-item">
                <img src="/images/1.Oran.jpg" alt="1.Oran" />
                <h3>1.Oran</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/5STEBA_1.jpg" alt="5STEBA_1" />
                <h3>5STEBA_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/6SAINT_1.jpg" alt="6SAINT_1" />
                <h3>6SAINT_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/12SIDI_1.jpg" alt="12SIDI_1" /> 
                <h3>12SIDI_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/14BOUK_1.jpg" alt="14BOUK_1" /> 
                <h3>14BOUK_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/19LAMO_1.jpg" alt="19LAMO_1" /> 
                <h3>19LAMO_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/22.Tlemcen.jpg" alt="22.Tlemcen" /> 
                <h3>22.Tlemcen</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/26.Turenne.jpg" alt="26.Turenne" /> 
                <h3>26.Turenne</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/27SIDI_1.jpg" alt="27SIDI_1" /> 
                <h3>27SIDI_1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/29.Maghnia.jpg" alt="29.Maghnia" /> 
                <h3>29.Maghnia</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/31.Oujda.jpg" alt="31.Oujda" /> 
                <h3>31.Oujda</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/gare-ferroviaire-oran-1.jpg" alt="gare-ferroviaire-oran-1" /> 
                <h3>gare ferroviaire oran 1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Pont Afaur a Turenne 1905.jpg" alt="Pont Afaur à Turenne 1905" /> 
                <h3>Pont Afaur a Turenne 1905</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/pont_medjahedsur l oued ouaam.jpg" alt="pont_medjaheds sur l'oued ouaam" /> 
                <h3>pont medjahedsur l oued ouaam</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/sidibelabbes.jpg" alt="sidibelabbes" /> 
                <h3>sidi bel abbes</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/sidi-bel-abbes-la-gare-plm.jpg" alt="sidi-bel-abbes-la-gare-plm" /> 
                <h3>sidi-bel-abbes-la-gare-plm</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Tlemcennn.jpg" alt="Tlemcennn" /> 
                <h3>Tlemcen</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/TlemcenVue sur le hall.jpg" alt="TlemcenVue sur le hall" /> 
                <h3>TlemcenVue sur le hall</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Viaduc afaire 19.02.2021 Gantra hamra.jpg" alt="Viaduc afaire 19.02.2021 Gantra hamra" /> 
                <h3>Viaduc afaire 19.02.2021 Gantra hamra</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/viaduc Tafna.jpg" alt="viaduc Tafna" /> 
                <h3>viaduc Tafna</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/viaduc Tafna1.jpg" alt="viaduc Tafna1" /> 
                <h3>viaduc Tafna1</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/vu du trainEl Bordj Turenne Sabra Tlemcen 09.04.2014.jpg" alt="vu du trainEl Bordj Turenne Sabra Tlemcen 09.04.2014" /> 
                <h3>vu du trainEl Bordj Turenne Sabra Tlemcen 09.04.2014</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Massif de Tlemcen.jpg" alt="Massif de Tlemcen" /> 
                <h3>Massif de Tlemcen</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Ruine de Mansurah.jpg" alt="Ruine de Mansurah" /> 
                <h3>Ruine de Mansurah</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/377498455_795771455882781_7983160662177626898_n.jpg" alt="Vue du train" /> 
                <h3></h3>
            </div>
            <div class="gallery-item">
                <img src="/images/decembre 2022 au moment du passage d train coucher du soleil.jpg" alt="decembre 2022 au moment du passage d train coucher du soleil.jpg" /> 
                <h3>decembre 2022 au moment du passage de train</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/ligne ferroviaire Oued Zitoun Sabra10.2023.jpg" alt="ligne ferroviaire Oued Zitoun Sabra10.2023.jpg" /> 
                <h3>ligne ferroviaire Oued Zitoun Sabra10</h3>
            </div>
            <div class="gallery-item">
                <img src="/images/Ruine de Mansurah 2 .jpg" alt="Ruine de Mansurah 2 .jpg" /> 
                <h3>Ruine de Mansurah 2</h3>
            </div>
        </div>
    </div>
  </body>
</html>
