<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <title>Ouest-Algerien</title>
    <link rel="stylesheet" href="/styleValorisation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <header>
        <main class="navba">
            <div class="backBTN">
                <a href="javascript:history.back();">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <div class="navbar-title">
                <h3>Valorisation Touristique Du Patrimoine Ferroviaire</h3>
                <h3>l'Itinéraire culturel</h3>
            </div>
        </main>
        <div class="Top-bar">
            <div class="Top-bar-content">
                <h4 style="color: blue;">Description</h4>
            </div>
            <a class="Top-bar-content" href="/Carte" style="text-decoration: none;">
                <h4>Carte</h4>
            </a>
            <a class="Top-bar-content" href="/Galerie" style="text-decoration: none;">
                <h4>Galerie</h4>
            </a>
        </div>
    </header>
    <div class="liste-pat">
            <div class="liste-du-patrimoine-container">
                <div class="left-liste-du-patrimoine">
                    <div class="left-liste-du-patrimoine-first">
                        <div id="map" class="leaflet-map"></div>
                    </div>
                    <div class="right-liste-du-patrimoine">
                        <div class="right-header">
                            <h2 class="right-header-title">Catégorie du bien</h2>
                            <h2 class="categories-title">Gares:</h2>
                            <div class="categories">
                                <div class="categorie first">
                                <div class="circle-categorie"></div>
                                <h3>Terminus</h3>
                                </div>
                                <div class="categorie second">
                                <div class="circle-categorie"></div>
                                <h3>Station</h3>
                                </div>
                                <div class="categorie third">
                                <div class="circle-categorie"></div>
                                <h3>Halte</h3>
                                </div>
                            </div>
                            <h2 class="categories-title">Ouvrage d'Art :</h2>
                            <div class="categories">
                                <div class="categorie first">
                                <div class="circle-categorie-ovrage"></div>
                                <h3>Viaduc</h3>
                                </div>
                                <div class="categorie second">
                                <div class="circle-categorie-ovrage"></div>
                                <h3>Tunnel</h3>
                                </div>
                                <div class="categorie third">
                                <div class="circle-categorie-ovrage"></div>
                                <h3>Pont</h3>
                                </div>
                            </div>
                            <h2 class="categories-title">Parc naturel Site Historique :</h2>
                        </div>
                        <div class="right-header">
                            <div class="types">
                                <div class="types-first">
                                    <h3>Algerie</h3>
                                    <h4>Ouest Algérien</h4>
                                    <h4>Commune de Sidi-Bel-Abbes et Tlemcen</h4>
                                    <h4>Longeur: 156 km</h4>
                                    <h4>Critère (ii) (iv)</h4>
                                    <h4>Etat de conservation: moyen</h4>
                                </div>
                            </div>
                        </div>
                        <div class="right-header">
                            <h2 class="right-header-title">Total des Ouvrages :</h2>
                            <h2 class="right-header-subtitle">04 Gares</h2>
                            <h2 class="right-header-subtitle">21 Stations</h2>
                            <h2 class="right-header-subtitle">05 Haltes</h2>                            <h2 class="right-header-subtitle">19 Ponts</h2>
                            <h2 class="right-header-subtitle">04 Tunnels</h2>
                            <h2 class="right-header-subtitle">12 Viaducs</h2>
                        </div>
                    </div>
                </div>
                <div class="left-footer">
                    <div class="left-footer">
                        <h2>
                            Itinéraire culturel, alternative pour la requalification du tourisme et mise en valeur des territoires de l’Ouest-Algérien : cas de la ligne « Sidi-Bel-Abbès / Akid-Abbes »
                        </h2>
                        <div class="left-footer-container">
                            <p>
                                La ligne de chemin de fer « Sidi-Bel-Abbès / Akid-Abbes » s'étend sur une distance de 234 km et relie les grandes gares de Tlemcen et de Sidi-Bel-Abbès, tout en traversant des ponts monumentaux tels que le Pont d'El Ourit. Elle est constituée de trois lignes ferroviaires historiques qui parcourent la région de l'Ouest algérien, traversant les wilayas, Sidi-Bel-Abbès, Mascara et Tlemcen.
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <p>
                                La ligne de chemin de fer « Sidi-Bel-Abbes / Akid-Abbes » qui sera sans doute abandonnée avec la mise en service du projet de modernisation prévu pour l’année à venir distribue de grandes gares caractérisées par une architecture monumentale ; les gares de Sidi-Bel-Abbès, de Tlemcen et de Maghnia, ainsi que des stations modestes, édifiées dans les petites localités. Cette ligne se distingue aussi par l'importance de ses ouvrages d’art ; le pont d’El-Ourit, le Viaduc sur l'Oued Ain Tellout, viaduc d’Oued Ksab et le Viaduc sur l'Oued Tralimet…
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <p>
                                La ligne de chemin de fer « Sidi-Bel-Abbes / Akid-Abbes » qui sera sans doute abandonnée avec la mise en service du projet de modernisation prévu pour l’année à venir distribue de grandes gares caractérisées par une architecture monumentale ; les gares de Sidi-Bel-Abbès, de Tlemcen et de Maghnia, ainsi que des stations modestes, édifiées dans les petites localités. Cette ligne se distingue aussi par l'importance de ses ouvrages d’art ; le pont d’El-Ourit, le Viaduc sur l'Oued Ain Tellout, viaduc d’Oued Ksab et le Viaduc sur l'Oued Tralimet…
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <p>
                                Elle rassemble 2 sections ferroviaires qui traversent les plaines et montagnes de l’Ouest algérien. La première section de Sidi-Bel-Abbès à Tlemcen avec une longueur de 87 km totalise 2 gares, 10 stations, 5 tunnels,5 viaducs et 3 ponts. La deuxième de Tlemcen à Akid Abbes juste après Maghnia avec une longueur de 69 km (positions calculées à partir du 0 gare de Tlélat). Elle comporte 2 gares, 6 stations, 9 Tunnels, 7 Viaducs et 1 Pont et incarne des réalisations architecturales et de génie civil en harmonie avec les paysages qu’elles traversent 
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <p>
                                La ligne d’étude illustre un parcours exceptionnel dans la région de l'Ouest Algérien, Elles offrent un paysage exceptionnel ainsi qu'un patrimoine technique et architectural remarquable qui compose un ensemble paysager, technique et architectural. La grille de lecture a permis l’identification des potentialités du parcours qui présente des paysages ferroviaires diversifiés. 
                            </p>
                        </div>
                        <h2>Paysages ferroviaires de la ligne Sidi-Bel-Abbès / Akkid-Abbes</h2>
                        <div class="left-footer-container">
                            <p>
                                L’ensemble des paysages subjectifs et objectifs identifiées et repérés sur la carte faites par Q-gis (Voir galerie Fig.1.) confirme les potentialités du parcours a constitué un itinéraire culturel. Cette qualité paysagère est illustrée par les photos ci-dessous (Voir galerie Fig.2.3.) et située sur la carte des paysages ferroviaires par lettre alphabétique. Apres une analyse de ces types de paysages nous décrirons le paysage ferroviaire subjectif le plus fascinant. Pour le paysage objectif nous choisissons les exemples de gares et ouvrages d’art les plus significatif le long de la ligne étudiée du point de vue architectural et historique.
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <p>
                                Afin d'illustrer nos propos, les gares et ouvrages d’art sélectionnées sont les grandes gares ferroviaires sur la ligne d’étude, celle de Tlemcen et Sidi-Bel-Abbès, qui sont des gares terminus et de style architectural différent pour apporter plus de richesse. Nous nous limiterons aux gares stations de Bouchabka, Turenne et Sidi-Medjahed, en raison des similitudes qu'elles présentent. Quant aux ouvrages d’arts nous représentons les viaducs les plus représentatif et ayant une forme et un type de construction différent. Afin de distinguer les techniques constructives de l'époque, le choix s'est fait sur le viaduc métallique en arc sur l’Oued Saf-Saf et le viaduc d’Oued Ksab en pierre de taille.
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <h4>Paysages ferroviaires subjectifs :</h4>
                            <p>
                                composent l’ensemble des paysages perçus à partir du chemin de fer, c’est à dire les panoramas observés depuis la fenêtre du train par le voyageur.
                            </p>
                            <p>
                                Le parcours d’étude qui s’étend entre la mer Méditerranée et la ligne des steppes, offre une diversité de paysages subjectifs aux voyageurs contemplant le défilement des visions extérieurs par la vitre du train. Cette ligne démarre de la plaine fertile de Sidi-Bel-Abbès dessert la ville de ce nom, suit la vallée de la Mekerra jusqu’ à l’arrivé à Tabia. A partir de Tabia, la ligne se dirige vers l’Ouest par la lisière Nord du massif de Tlemcen, elle parcours un terrain très accidenté couvert de pin, correspondant à des chaînes de  montagnes spectaculaires qui abrite d’importantes ressources naturelles, elle franchit l’Oued Isser après l’ arrêt de Lamoriciere, l’Oued Chabet El Kbir et l’oued Chouly, atteint son point culminant à Ain Fezza à la cote de 880 m environ, redescend ensuite sur Tlemcen en traversant les cascades de l’oued Mefrouche (cascade d’El Ourit) caractérisé par 7 cascades étagées et qui font partie du parc national du Tlemcen créé en 1993. Après Mansourah le chemin traverse les ruines du site historique de Mansourah qui remonte à l'époque mérinide. Elle traverse ainsi l’Oued Afair, la forêt d’El Hafir après la station de Turenne. Franchit ensuite l’Oued Ksab, Oued Tafna, Oued Ouâame, Oued Abbess, Oued Aounia par de grands ouvrages de 120 à 180 mètres. La ligne passe par 8 sous terrain de Tlemcen à Maghnia, arrive à la station de Akkid Abbes ou elle rejoint la voie marocaine.
                            </p>
                            <h4>Paysages ferroviaires objectifs :</h4>
                            <p>
                                Ils sont créés par le chemin de fer, composés d’un ensemble d’éléments ferroviaires qui représente le paysage tantôt marqué par l’infrastructure posée harmonieusement dans une nature spectaculaire, tantôt par son architecture distinguée par les installations ferroviaires, gares et ouvrages d’art. Ce paysage rassemble 04 gares terminus, 16 stations, 04 ponts, 14 tunnels et 12 viaducs sur la ligne d’étude
                            </p>
                            <h4>Paysage ferroviaire objectif centré sur une gare ferroviaire :</h4>
                            <p>
                                Le parcours permet de découvrir les gares ferroviaires le long de la ligne ferroviaire du cas d’étude, qui se compose de 2 typologies ; les grandes gares appartenant aux grandes villes servant de gare terminus et les gares stations servant d’arrêt intermédiaire. Les gares de Sidi-Bel-Abbès et Tlemcen les stations de Bouchabka, Turenne et sidi-Medjahed illustre un paysage objectif centré sur une gare ferroviaire (Voir galerie Fig.4.5.).
                            </p>
                            <h4>Paysage ferroviaire objectif centré sur un ouvrage d’art :</h4>
                            <p>
                                Le parcours d’étude nous permet de découvrir des ouvrages d’art spectaculaires, dont l'importance varient en fonction de la nature des obstacles à franchir. Les structures les plus remarquables sont édifiées dans la région de Tlemcen, où le terrain très accidenté à exiger des solutions architecturales et technique particulières (Voir galerie Fig.6.). 
                            </p>
                            <p>
                                Les types de paysages ferroviaires mentionnés précédemment montrent que l’itinéraire d’étude traverse des panoramas de paysage éveillant l’appel au voyage et à la découverte. La prochaine étape de l’analyse suivant la grille de lecture permettra d’évaluer la qualité de ce parcours. Pour qu’un site doit être inscrit au patrimoine mondial de l’UNESCO, il doit posséder une valeurs universelles exceptionnels et répondre à au moins un des dix critères d’évaluation (UNESO, 2005). 
                            </p>
                        </div>
                        <h2>Sidi-Bel-Abbès / Akkid-Abbes : Un parcours ferroviaire conforme aux critères de sélection UNESCO</h2>
                        <div class="left-footer-container">
                            <p>
                                Parmi les 10 critères le parcours d’étude Sidi-Bel-Abbès / Akkid Abbés répond au Critère (ii) et Critère(iv) comme suit :
                            </p>
                        </div>
                        <div class="left-footer-container">
                            <h4>Critère (Ii) :</h4>
                            <p>
                                Le chemin de fer témoigne de l'ingéniosité déployée pour implanter le réseau ferroviaire durant la période coloniale française en Algérie. Il révèle un important échange d'influences entre les compagnies ferroviaires françaises, qui ont apporté des solutions ingénieuses aux défis physiques de la construction ferroviaire et ont anticipé le développement de l'architecture des gares et des ouvrages d'art ferroviaires, permettant la création d’un paysage ferroviaire exceptionnel.
                            </p>
                            <h4>Critère (Iv) :</h4>
                            <p>
                                L’essor du chemin de fer en Algérie a exercé une influence significative sur le développement social et économique des régions desservies. L'exemple de la ligne de chemin de fer dépendant de Sidi-Bel-Abbès à la frontière marocaine illustre de manière remarquable l'essor ferroviaire dans les zones montagneuses, permettant ainsi d'accéder aux régions offrant des paysages naturels d'une grande beauté et progressant ainsi un nouveau type de paysage. Cette ligne ferroviaire représente un ensemble architectural et technologique exceptionnel.
                            </p>
                            <h4>Intégrité :</h4>
                            <p>
                                La ligne de chemin de fer, y compris ses gares et ses ouvrages d'art, est aujourd'hui très proche de son état initial et son intégrité fonctionnelle est maintenue. Toutefois, la principale menace qui pèse sur cette ligne est l'abandon, qui pourrait entraîner la détérioration des différentes installations ferroviaires.
                            </p>
                            <h4>Authenticité :</h4>
                            <p>
                                La ligne de chemin de fer ainsi que ses gares et ouvrages d'art ont conservé leur conception d'origine, ce qui leur confère une authenticité remarquable.
                            </p>
                            <p>
                                La qualité paysagère du parcours étudié confirme son potentiel en tant qu'itinéraire culturel. 
                            </p>
                            <p>
                                La proposition, d’un itinéraire culturel "Ouest-Algérien", se concentre sur une activité touristique spécifique qui exploite un parcours de voyage riche en histoire. L’idée consiste à mettre en place des circuits touristiques en train, avec arrêt dans les différentes gares, permettant de découvrir l’identité culturelle de chaque ville traversée le long du trajet ferroviaire.
                            </p>
                            <p>
                                Le tracé sinueux de la ligne suit les contraintes topographiques du terrain et reflète les prouesses technologiques de l'époque lors de la construction des premiers chemins de fer en Algérie. Ainsi la découverte des paysages ferroviaires objectifs et subjectifs riches en patrimoine culturel et naturel, mettent en valeur les ouvrages d'art et présentent les bâtiments voyageurs des gares comme futurs structures d'accueil touristiques. Révélant leur architecture unique, allant de la plus monumentale (Tête de ligne) à la plus modeste (Station intermédiaire). Ces bâtiments voyageurs offrent une expérience unique, témoins des différents modes de vie et de cultures. Ils ont le caractère spécifique d’être « un extraordinaire kaléidoscope dans lequel se déroulent d’innombrables spectacles chargés d’émotions (François Poupardin, 2008).
                            </p>
                        </div>
                        <h2>Conclusion</h2>
                        <div class="left-footer-container">
                            <p>
                                Le projet de modernisation du réseau ferroviaire prévoit l'abandon de la ligne ferroviaire Sidi-Bel-Abbès / Akkid-Abbes et risque d'entraîner la détérioration des infrastructures ferroviaires, des gares et des ouvrages d'art. Cette situation est à l’origine de penser des solutions créatives permettant de réutiliser ces espaces de manière innovante, d’où notre proposition de création d'un itinéraire culturel.
                            </p>
                            <p>
                                La création d’un itinéraire culturel le long de la ligne d’étude dans la perspective de développer un projet de renouvellement touristique et économique consiste à un véritable projet requalification. 
                            </p>
                            <p>
                                Cette stratégie durable de renouvellement territorial vise ainsi à protéger ces lieux culturels pour les transmettre aux générations futures et donner une nouvelle dimension touristique à l'Algérie, passant d'un développement traditionnel à un développement touristique diversifié et durable.
                            </p>
                            <p>
                                La mise en valeur de l’itinéraire culturel de l’Ouest algérien vise à sensibiliser les décideurs quant à la nécessité de préserver ce patrimoine historique et culturel. Au-delà de la préservation cela représente un levier de développement économique pour les communautés locales grâce au tourisme culturel à travers la création des structures d’accueil telles que les musées, les galeries, les restaurants et autres. Ce qui valorise les ressources patrimoniales et génère des activités créatrices d’emplois avec des revenus financiers bénéfiques à la population locale.
                            </p>
                            <p>
                                Cette initiative culturelle et scientifique, pourrait également réconcilier les citoyens avec leur histoire et les sensibiliser à la durabilité et la préservation des biens patrimoniaux. Elle favorise ainsi les échanges culturels et renforce les liens sociaux entre les différentes communautés de la région.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/wicg-inert@latest/dist/inert.min.js"></script>
    <script src="/mainHome.js"></script>
    <script src="/Adminmain.js"></script>
  </body>
</html>
