@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --whitecolor: #fff;
  --titlecolor: #393d48;
  --bgItemcolor: #eef3f4;
  --darkcolor: #000;
  --bgbutton: #33a4e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.documents {
  width: 100%;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-left: 68px;
  margin-right: 300px;
  color: var(--whitecolor);
  font-size: 30px;
  color: rgba(96, 96, 96, 1);
  line-height: 45px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 109px;
  list-style: none;
  position: relative;
}

nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--whitecolor);
  font-size: 20px;
  color: rgba(96, 96, 96, 1);
  line-height: 30px;
}

.home-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-list::before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 32px;
  height: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(96, 96, 96, 1);
}

.contact-us-conrtainer {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}

.contact-us-title {
  margin-top: 56px;
  margin-left: 186px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-us-title h2 {
  font-size: 44px;
  font-weight: 900;
  line-height: 67px;
  color: rgba(96, 96, 96, 1);
  text-transform: capitalize;
}

.contact-us-title span {
  font-size: 18px;
  font-weight: 400;
  line-height: 40.5px;
  color: rgba(96, 96, 96, 1);
}

.formulaire-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.formulaire-container form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 534px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.formulaire-container h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 63.4px;
  color: #393d48;
  text-transform: capitalize;
}

.formulaire-container span {
  font-weight: 400;
  font-size: 18px;
  line-height: 40.5px;
  color: #393d48;
}

.formulaire-container input {
  width: 534px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: rgba(238, 243, 244, 1);
  padding-left: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(92, 92, 92, 1);
  outline: none;
}

.formulaire-container textarea {
  width: 534px;
  height: 250px;
  padding-left: 29px;
  padding-top: 35px;
  background-color: rgba(238, 243, 244, 1);
  font-weight: 400;
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: rgba(92, 92, 92, 1);
  border-radius: 20px;
  outline: none;
}

.send-message-class {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

#send-message {
  width: 423px;
  background: linear-gradient(253.58deg, #606060 1.55%, #000000 95.8%);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 312px;
  background-color: rgba(33, 33, 33, 1);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  position: relative;
  margin-top: 237px;
}

.footer-items {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: #fff;
}

.LOGO {
  width: 254.4px;
}

.quicklinks {
  width: 146px;
}

.contact {
  width: 229px;
}

.terms {
  width: 195px;
  margin-top: 127px;
}

.LOGO h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 10.5px;
}

.social-media-item {
  width: 20px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-item a {
  color: #fff;
}

.facebook {
  background-color: rgba(39, 46, 174, 1);
}

.twitter {
  background-color: rgba(21, 144, 216, 1);
}

.youtube {
  background-color: rgba(208, 2, 27, 1);
}

.dribbble {
  background-color: rgba(245, 62, 106, 1);
}

.social-media-item i {
  font-size: 12px;
}

.quicklinks h3 {
  font-size: 16px;
  text-transform: capitalize;
}

.quicklinks ul {
  list-style: none;
}

.quicklinks ul li a {
  text-decoration: none;
  color: #fff;
}

.quicklinks ul li a:hover {
  color: #000;
  transition: 1s all ease-in-out;
}


.footer-mobot {
  width: 100%;
  height: 39px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.footer-mobot h3 {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
