@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --whitecolor: #fff;
  --titlecolor: #393d48;
  --bgItemcolor: #eef3f4;
  --darkcolor: #000;
  --bgbutton: #33a4e7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 50px;
}
.navba{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navba a{
  text-decoration: none;
  color: #fff;
}
.navba i {
  font-size: 25px;
  margin-top: 1px;
}
.backBTN{
  width: 25px;
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  background-color: #000;
}
header h3{
  display: flex;
  flex: 1;
  font-size: 30px;
  color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header div{
    background-color: #000;
    width: 100%;
    height: 2px;
}

#liste-home {
  content: "";
  width: 32px;
  text-align: center;
  height: 4px;
  position: absolute;
  left: 13px;
  border-radius: 5px;
  bottom: -2px;
  background-color: var(--whitecolor);
  opacity: 0;
}

.active-bare {
  opacity: 1;
  transition: 1s all ease;
}

.liste-pat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
  padding-bottom: 100px;
}

.liste-du-patrimoine-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-liste-du-patrimoine {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}
.left-liste-du-patrimoine-first{
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}
.right-liste-du-patrimoine {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
}

.left-header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.right-header {
  width: 100%;
  height: auto;
  background-color: var(--bgItemcolor);
  border-radius: 20px;
  padding: 25px;
}
.wilaya {
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--bgItemcolor);
}

.wilaya h2 {
  color: var(--darkcolor);
  font-weight: 700;
  font-size: 20px;
}

.wilaya span {
  width: max-content;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--darkcolor);
}

.right-header-subtitle{
  font-size: 18px;
  font-weight: 500;
  color: var(--darkcolor);
  margin-top: 15px;
}

.categorie {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categories {
  margin-top: 10px;
  margin-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-header-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: var(--darkcolor);
}
.categories-title{
  font-size: 18px;
  margin-top: 15px;
  margin-inline-start: 10px;
}
.categorie h3 {
  font-weight: 500px;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 22.5px;
  color: var(--darkcolor);
}

.circle-categorie {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.categorie:first-child .circle-categorie {
  background-color: black;
}
.categorie:nth-child(2) .circle-categorie {
  background-color: red;
}
.categorie:last-child .circle-categorie {
  background-color: red;
}
.types{
  margin-inline-start: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.types-first{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.types-first h3{
  font-size: large;
  margin-bottom: 10px;
}
.types-first h4{
  font-size: medium;
  font-weight: 500;
}
.Programme{
  margin-inline-start: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Programme-first{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Programme-first h3{
  width: 250px;
  font-size: large;
}
.Programme-first h4{
  width: 250px;
  font-size: medium;
  font-weight: 500;
}
.leaflet-map {
  width: 100%;
  height: 525px;
  padding: 0px;
  z-index: 1;
  border-radius: 20px;
  background-color: var(--bgItemcolor);
}
.left-footer-right-liste{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.left-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--bgItemcolor);
  padding: 30px;
  gap: 20px;
}

.left-footer h2 {
  font-weight: 700;
  font-size: 22px;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 10px;
}

.left-footer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 20px;
}

.left-footer-container h4 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 15, 132);
  text-decoration: none;
}
.left-footer-container h5 {
  font-weight: 700;
  font-size: 18px;
  padding-inline-start: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.left-footer-container h6 {
  font-weight: 500;
  font-size: 18px;
  padding-inline-start: 60px;
}
.left-footer-container p {
  font-weight: 500;
  font-size: 16px;
  padding-inline-start: 70px;
}
.left-footer-container h1:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) { 
  .left-liste-du-patrimoine {
    grid-template-columns: 1fr; 
  }
  .left-footer-right-liste{
    grid-template-columns: 1fr; 
  }
  .types-first h3{
    width: 100%;
  }
  .types-first h4{
    width: 100%;
  }
  .Programme-first h3{
    width: 100%;
  }
  .Programme-first h4{
    width: 100%;
  }
  .liste-pat {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }
}
@media (max-width: 500px) { 
  .liste-pat {
      padding-inline-start: 20px;
      padding-inline-end: 20px;
  }
  header h3{
      font-size: 20px;
      text-align: center;
  }
  .wilaya h2 {
    font-weight: 600;
    font-size: 15px;
  }
  
  .wilaya span {
      font-weight: 500;
      font-size: 12px;
  }
  
  .right-header-title {
      font-size: 14px;
      font-weight: 600;
  }
  .right-header-subtitle{
      font-size: 13px;
      font-weight: 500;
  }

  .categorie h3 {
      font-size: 12px;
  }
  .left-footer h2 {
    font-size: 18px;
  }
  .left-footer-container h4 {
    font-weight: 600;
    font-size: 14px;

  }
  .left-footer-container h5 {
    font-weight: 700;
    font-size: 14px;
  }
  .left-footer-container h6 {
    font-weight: 500;
    font-size: 14px;
  }
  .left-footer-container p {
    font-weight: 500;
    font-size: 10px;
  }
  .categories-title{
      font-size: 13px;
  }
  .types-first h3{
    font-size: 14px;
  }
  .types-first h4{
    font-size:small;
    font-weight: 500;
  }
  .Programme-first h3{
    font-weight: 600;
    font-size: 14px;
  }
  .Programme-first h4{
    font-size: 12px;
  }
  .navba i {
    font-size: 15px;
    margin-top: 0px;
  }
  .backBTN{
    flex: 0;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 32px;
    background-color: #000;
  }
  header {
    height: 200px;
    padding: 20px;
  }
}